<div class="container">
  <h1 class="mb-4 mt-4">Stupid Coaching</h1>
  <p class="blockquote"><strong><%= @question %></strong></p>
  <p class="blockquote-footer">You</p>

  <p class="blockquote bd-callout bd-callout-warning"><strong><%= @coach_answer %></strong></p>
  <p class="blockquote-footer bd-callout bd-callout-warning">Your stupid coach</p>
  <%= link_to "Ask another question broda", "/ask", class:"btn btn-primary mt-3"%>
</div>
